/*Blog*/


@font-face {
    src: url("/assets/fonts/IndieFlower-Regular.ttf");
    font-family: Indie-Flower;
}

#page_heading {
    background-image: url(/assets/images/blogs/5-Ingredients-That-Changed-My-Cooking/ingredients-banner-1.jpg);
    background-size: cover;
    background-position: 0 57%;
    height: 440px;
    background-repeat: no-repeat;
    background-position: -90px 57%;
    margin-top: -80px;
}

.header_fade {
    width: 100%;
    height: 18px;
    position: relative;
    top: 26.4em;
    background: linear-gradient(transparent, white);
}

.blog-title {
    font-family: "Indie-Flower";
    color: white;
    padding-left: 25%;
    text-align: left;
    font-size: 35px;
}
.blog-header {
    width: 100% !important;
}

@media only screen and (min-width: 390px){
    .blog-title  {
        padding-left: 30%;
        font-size: 42px;
    }
}

@media only screen and (min-width: 430px){
    .blog-title  {
        padding-left: 30%;
    }
    #page_heading {
        background-position: -30px 57%;
    }
}

@media only screen and (min-width: 490px){
    .blog-title  {
        padding-left: 35%;
    }
    #page_heading {
        background-position: 0px 57%;
    }
}

@media only screen and (min-width: 750px){
    .blog-title  {
        padding-left: 40%;
        font-size: 60px;
    }
    #page_heading {
        background-position: 0px 57%;
    }
}

@media only screen and (min-width: 1130px){
    .blog-title  {
        padding-left: 40%;
        font-size: 60px;
    }
    #page_heading {
        background-position: 0px 57%;
    }
}

@media only screen and (min-width: 1290px){
    .blog-title  {
        padding-left: 40%;
        font-size: 75px;
    }
    #page_heading {
        background-position: 0px 57%;
    }
}

@media only screen and (max-width: 1158px){
    .blog-title #line2::after {
        content: "\a";
        white-space: pre;
    }
    .blog-title #line3 {
        padding-left: 25%;
    }
}





/*Section Nav*/
#sections .row {
    justify-content: center;
    margin-bottom: 4em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.article-nav__btn {
    text-align: center;
    font-family: "Indie-Flower";
    max-height: 260px;
    padding-bottom: 15px;
}
.article-nav__btn .article-nav__title {
    font-family: "Indie-Flower";
    font-size: 22px;
}

.article-nav__img {
    border-radius: 15px;
    max-width: -webkit-fill-available;
    max-height: inherit;
    height: 6em;
    object-fit: cover;
    width: 100%;
}
.article-nav__img:hover {
    transform: translateY(-6px);
    background-image: -moz-linear-gradient( 45deg, rgb(0,99,163) 0%, rgb(103,198,239) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(0,99,163) 0%, rgb(103,198,239) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(0,99,163) 0%, rgb(103,198,239) 100%);  
    opacity:0.7; 
}

/*Blog Body*/
#blog-content p {
    font-family: "Montserrat";
    font-size: 22px;
    padding-bottom: 1em;
}

#blog-content p {
    font-family: "Montserrat";
    font-size: 22px;
    padding-bottom: 1em;
}

.blog-header__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-height: 20em;
    width: 85%;
    object-fit: contain;
    object-position: center;
    border-radius: 15px;
}
@media only screen and (min-width: 768px){
    .blog-header__image {
        object-fit: none;
    }
}
@media only screen and (min-width: 1158px){
    .article-nav__img {
        height: 12em;
    }
    .blog-header__image {
        width: 70%;
    }
}
@media only screen and (max-width: 1158px){
    .blog-title #line2::after {
        content: "\a";
        white-space: pre;
    }
    .blog-title #line3 {
        padding-left: 25%;
    }
}

@media only screen and (min-width: 576px){
    #sections .row {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .article-nav__btn .article-nav__title {
        font-family: "Indie-Flower";
        font-size: 26px;
    }
}


