
@font-face {
    src: url("/assets/fonts/Zeyada-Regular.ttf");
    font-family: zeyada;
}


/* Nav */

.nav {
    padding-top: 2em;
    margin-bottom: 1em;
}
.navbar {
    /* background-color: #914574; */
    background: rgb(145,69,116);
    background: linear-gradient(48deg, rgba(145,69,116,0.9752275910364145) 0%, rgba(145,69,116,0.8715861344537815) 44%, rgba(145,69,116,0.865983893557423) 77%, rgba(145,69,116,0.87718837535014) 100%);    padding: 1.5rem 1rem;
}
#navbar li {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-link {
    font-size: 22px;
    color: #fff;
}


/*Page Header*/
#page_heading {
    margin-top: 6em;
    margin-bottom: 4em;
    text-align: center;
}
#page_heading .row {
    margin-top: 6em;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 42px;
    font-family: "zeyada";
}

.subtitle {
    font-size: 24px;
    text-align: left;
}


/*Products Grid*/
.grid-display {
    text-align: center;
}

.grid-display .card {
    margin-left: auto;
    margin-right: auto;
}


.card-img-top {
    height: 100%;
}


