
@font-face {
    src: url("/assets/fonts/Zeyada-Regular.ttf");
    font-family: zeyada;
}

html {
    scroll-behavior: smooth;
}


/* Nav */


.nav {
    padding-top: 2em;
    margin-bottom: 1em;
}
.navbar {
    /* background: rgb(82,130,101);
    background: linear-gradient(156deg, rgba(82,130,101,1) 27%, rgba(82,130,101,0.8827906162464986) 62%, rgba(82,130,101,0.8015581232492998) 100%); */
    background-image: url("/assets/images/blogs/swoosh-banner.png");
    background-position: 50% 46%;
    height: 200px;
    align-items: baseline;
}
#navbar li {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-link {
    font-size: 22px;
    color: #fff;
}
.nav-link:hover {
    color: #BACDC1;
    text-decoration: underline;
}


/*Page Header*/
#page_heading {
    margin-top: 0em;
    margin-bottom: 4em;
    text-align: center;
}
#page_heading .row {
    text-align: center;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-table;
}

.title {
    font-size: 42px;
    font-family: "zeyada";
}

.subtitle {
    font-size: 24px;
    text-align: left;
}


/*Products Grid*/
.grid-display {
    text-align: center;
}

.grid-display .card {
    margin-left: auto;
    margin-right: auto;
}


.card-img-top {
    height: 100%;
}



@media only screen and (min-width: 800px){
    .navbar .container-fluid {
        padding-left: 75px;
    }
}