<!-- Nav -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <h4 id="logo" style="color: white; font-family: serif;">MEDLEY KNOWLEDGE BASE</h4>
      <!-- <img src="/assets/images/sync-kb_logo-nobg.png">
        <a class="navbar-brand" href="#"></a>
      </img> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about.html">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><a class="dropdown-item" href="/categories.html">Cooking</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/categories.html">All</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index.html">Resources</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- Nav END -->